.activity {
  padding-bottom: 94px;
}

.container-activity {
  // display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .activity-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
  }
}
.activity-list {
  // display: flex;
  &-item:not(:last-child) {
    margin-right: 30px;
  }
  &-item {
    position: relative;
    & .activity-text {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(47, 48, 58, 0.8);
      padding: 27px 0px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
