.footer {
  background: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.page-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.address-container {
  @media screen and (min-width: 1200px) {
    margin-right: 78px;
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.footer-address > a {
  display: block;
}
.addres-social {
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.footer-social {
  @media screen and (min-width: 767px) {
    margin-top: 5px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-address {
  &-mail {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &-email {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.join {
  // margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color $transition-duration $timing-function;
}
.footer-social-link:hover {
  background-color: $main-focus-color;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill $transition-duration $timing-function;
}

.footer-form-container {
  display: inline-block;
  // padding: 72px 0px 94px 90px;
}
.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-join-text {
  width: 100%;
}

.footer-input {
  padding: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footer-bg-color;
  color: #fff;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-label-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: $main-focus-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  @media screen and (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-join-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}
