.hero {
  max-width: 1600px;
  height: 600px;
  padding: 0px 0px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/sprite/heroimg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(20, 20, 87);
}
.container-hero {
  padding: 200px 0px;
}

.hero-title {
  // width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $main-focus-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
