.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-advantages {
  // display: flex;
  justify-content: center;
  height: 251px;
}
.advantages-list {
  // display: flex;
  & .advantages-list-item {
    // width: 270px;
    & .container-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 270px;
      height: 120px;
      background: $secondary-bg-color;
      border-radius: 4px;
    }
    & .advantages-list-name {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $main-text-color;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    & .advantages-list-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
    }
  }
}

// .advantages-list :not(:last-child) {
//   margin-right: 30px;
// }
