.address-link {
  // display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  align-items: center;
  transition: color $transition-duration $timing-function;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
}
.address-header :not(:last-child) {
  margin-bottom: 16px;
}
.addres__list-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
.current,
.address-link:hover,
.address-link:focus {
  color: $main-focus-color;
}

.address-header .envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address-header .smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.envelope,
.smartphone {
  fill: $secondary-text-color;
  transition: fill $transition-duration $timing-function;
}
.address-link:hover .smartphone {
  fill: $main-focus-color;
}
.address-link:hover .envelope {
  fill: $main-focus-color;
}
