*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: $main-font;
  padding-top: 80px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.address-header {
  font-style: normal;
}
